

.table {
    width: 100%;
    border-collapse: collapse;
  }
  

  .table th,
  .table td {
    padding: 8px;
    text-align: left;
  }
  

  @media (max-width: 767px) {
    .table-responsive {
      overflow-x: auto;
    }
  
    .table {
      width: 100%;
    }
  
    .table thead {
    }
  
    .table tbody {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
  }
  
  .table tr {
    width: 100%; 
    gap: 64px;
    margin-bottom: 15px;
  }
  .baris {
    display: flex;
    flex-direction: row;
  }
  .bais2{
    display: flex;
    flex-direction: column;
  }
    .table td {
      text-align: left;
      width: 100%;
      box-sizing: border-box;
      word-wrap: break-word;
      padding-left: 50%; 
    }
  
    .table td::before {
      content: attr(data-label);
      font-weight: bold;
      float: left;
      text-transform: uppercase;
      padding-left: 15px; 
    }
    .table tbody tr {
      border: 1px solid #ddd;
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      text-align: center;
      margin-left: auto;
      margin-right: auto; 
    }
  }
  