   
  .app-bar {
    padding: 8px 16px;
    background-color: transparent;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    position: fixed; 
    top: 0;
    left: 0;
    color: white;
    right: 0;
    color: white;
    z-index: 98;
  }
   
  .app-bar .app-bar__menu {
    display: flex;
    align-items: center;
  }
   
  .app-bar .app-bar__menu button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding: 8px;
    cursor: pointer;
  }
   
  .app-bar .app-bar__brand {
    display: flex;
    align-items: center;
  }
   
  .app-bar .app-bar__brand a {
    color: white;
    text-transform: uppercase;
    font-size: 22px;
    user-select: none;
    text-decoration: none;
  }
   
  .app-bar .app-bar__navigation {
    position: absolute;
    top: 50px;
    left: -180px;
    width: 150px;
    transition: all 0.3s;
    padding: 8px;
    color: white;
    background-color: transparent; 
    overflow: hidden;
  }
   
  .app-bar .app-bar__navigation.open {
    left: 0;
  }
   
  .app-bar .app-bar__navigation ul li a {
    display: grid;
    text-decoration: none;
    background-color: transparent;
    padding: 8px;
    font-size: medium;
    color: white;
    margin-bottom: 5px;
    width: 100%;
    z-index: 98;
  }