/* hero section */
  .containerr {
    min-height: 100vh;
    display: flex;
    margin-top: 60px;
    background-color: #112546;
    width: 100%;
  }
  
  .container__leftt {
    flex: 1;
    background-image: url("/src/public/images/landing/bg.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .left__contentt {
    margin: 5rem 3rem 0 auto;
    padding: 1rem;
    max-width: 400px;
    text-align: right;
  }
  
  .left__contentt h6 {
    margin-bottom: 1rem;
    font-weight: 600;
    color: #112546;
  }
  
  .left__contentt p {
    color: white;
  }
  
  .container__rightt {
    flex: 1.5;
    position: relative;
  }
  
  
  .right__contentt {
    text-align: right;
    max-width: 600px;
    margin-left: 8rem;
    margin-top: 8rem;
    padding: 2rem;
  }
  
  .right__contentt h1 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 3.5rem;
    color: white;
  }
  
  .right__contentt h4 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
  }
  
  .right__contentt p {
    margin-bottom: 3rem;
    color: white;
  }
  
  .btnn {
    margin-bottom: 3rem;
    min-width: 120px;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    outline: none;
    border: 1px solid white;
    cursor: pointer;
  }
  
  .primary__btnn {
    margin-right: 1rem;
    color: white;
    background-color: #29ADB2;
  }
  
  .secondary__btnn {
    color: white;
  }
  
  @media (width < 780px) {
    nav {
      justify-content: center;
    }
  
    .nav__linkss {
      gap: 1rem;
    }
  
    .containerr {
      flex-direction: column;
    }
  
    .container__leftt {
      min-height: 700px;
    }
  
    .left__contentt {
      max-width: none;
      margin: 6rem 0;
      text-align: center;
    }
  
    .container__rightt {
      min-height: 700px;
    }
  
    .container__rightt img {
      left: 50%;
      top: 0;
      transform: translate(-50%, -100%);
    }
  
    .right__contentt {
      text-align: center;
      margin: 8rem auto;
    }
  }

/* about section */
  .headings {
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(17, 37, 70, 0.05);
  }
  
  .heading span {
    color: #112546;
  }
  
  .row-landing {
    display: grid;
    align-items: center;
    gap: 2rem;
    grid-template-columns: auto auto;
    padding: 2rem 0;
    padding-bottom: 3rem;
    position: relative;
  }
  
  .row-landing .img-container {
    position: relative;
  }
  
  .row-landing .img-container img {
    width: 100%;
    border: 1.5rem solid #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    object-fit: cover;
    height: 100%;
  }
  
  .row-landing .img-container h4 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    font-size: 22px;
    background: #fff;
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
  }
  
  .row-landing .about-content h3,
  .row-landing .about-content p {
    width: 100%;
  }
  
  .row-landing .about-content h4 {
    color: #112546;
  }
  
  .row-landing .about-content p {
    font-size: 18px;
    color: #999;
    padding: 0.5rem 0;
    padding-top: 1rem;
  }
  
  .btn-learn {
    background-color: #29ADB2;
    color: white;
    padding: 10px 50px; 
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
  }

/* icon section */
.icons-container {
  background: #eee;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.icons-container .icons-item {
  background: #fff;
  border: 1rem solid rgba(17, 37, 70, 0.05);
  padding: 2rem;
  align-items: center;
}

.icons-container .icons-item img {
  height: 5rem;
  margin-right: 2rem;
}

.icons-container .icons-item h3 {
  color: #112546;
  padding-bottom: .5rem;
  font-size: 1.5rem;
}

.icons-container .icons-item span {
  color: #29ADB2;
  padding-bottom: .5rem;
  font-size: 1.2rem;
}
