@media screen and (max-width: 768px) {
  .foto-container {
    grid-template-columns: repeat(1, 1fr); 
  }

  .foto-container2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
     
  }

  .box1 img {
    height: auto; 
    max-width: 100%; 
  }

  .box2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    gap: 30px;
  }

  .box2 img {
    height: auto; 
    max-width: 100%; 
  }
}