/* SetQuizResponsive.css */
@media (max-width: 767px) {
    .setfauna-container {
        left: 0;
        margin-left: 0; 
        margin-right:100px ; 
        width: 100%;
        max-width: 800px;
      }
    modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
      }
    
      .modal-content {
        background-color: #fefefe;
        margin: 20% auto;
        margin-right: 20px;
        padding: 20px;
        border: 1px solid #888;
        width: 100%;
      }
    
      .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }
    
      .close:hover,
      .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }

    .table {
        width: 100%;
        overflow-x: auto;
        margin-left: auto; 
        margin-right: auto; 
        max-width: 100%; 
    }
    .table tbody tr {
        display: block;
        margin-bottom: 20px;
        border: 1px solid #ddd;
    }

    .table tbody td {
        display: block;
        text-align: left;
        width: 100%;
    }

    .header {
        text-align: center;
        margin-bottom: 20px;
    }

    .addButton {
        background-color: #3498db;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        display: inline-block;
    }

    .searchInput {
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin-bottom: 20px;
    }  
    .btn-primary {
      width: 30%;
      margin-bottom: 10px;
    }
    .cetak {
      width: 100%;
      margin-bottom: 10px;
    }

}
@media (min-width: 768px) {
  .btn-primary {
    width: 30%;
    margin-bottom: 10px;
  }
  .cetak {
    width: 100%;
    margin-bottom: 10px;
  }
}